<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta content="text/hmtl" http-equiv="Content-Type">
</head>
<body>
  <h1>New user registered: <%= @user.email %></h1>
  <p>
    Validate the user access, associating it a role.
    Link: <%= !url %>
  </p>
  <p>Thanks for your dedication! Have a great day!</p>
</body>
</html>